<% layout('layouts/boilerplate') %>

<div class="container">
    <% switch (num) {
         case 1: %>
            <h2 class="mb-4"><b>전체</b> 강의 목록</h2>
            <nav class="nav nav-pills flex-column flex-sm-row mb-4 border border-primary rounded-3">
                <a class="flex-sm-fill text-sm-center nav-link active" href="/lectures/">전체</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_view_cnt/">조회수</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_date">날짜</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_subscribers">구독자 수</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_vid_cnt">영상 수</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_alphabet">가나다순</a>
            </nav>
            <% break 
         case 2: %>
            <h2 class="mb-4"><b>조회수</b> 순 강의 목록</h2>
            <nav class="nav nav-pills flex-column flex-sm-row mb-4 border border-primary rounded-3">
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/">전체</a>
                <a class="flex-sm-fill text-sm-center nav-link active" href="/lectures/index_sort_by_view_cnt/">조회수</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_date">날짜</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_subscribers">구독자 수</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_vid_cnt">영상 수</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_alphabet">가나다순</a>
            </nav>
            <% break 
         case 3: %>
            <h2 class="mb-4"><b>날짜</b> 순 강의 목록</h2>
            <nav class="nav nav-pills flex-column flex-sm-row mb-4 border border-primary rounded-3">
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/">전체</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_view_cnt/">조회수</a>
                <a class="flex-sm-fill text-sm-center nav-link active" href="/lectures/index_sort_by_date">날짜</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_subscribers">구독자 수</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_vid_cnt">영상 수</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_alphabet">가나다순</a>
            </nav>
            <% break 
         case 4: %>
            <h2 class="mb-4"><b>구독자</b> 순 강의 목록</h2>
            <nav class="nav nav-pills flex-column flex-sm-row mb-4 border border-primary rounded-3">
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/">전체</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_view_cnt/">조회수</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_date">날짜</a>
                <a class="flex-sm-fill text-sm-center nav-link active" href="/lectures/index_sort_by_subscribers">구독자 수</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_vid_cnt">영상 수</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_alphabet">가나다순</a>
            </nav>
            <% break 
         case 5: %>
            <h2 class="mb-4"><b>영상 개수</b> 순 강의 목록</h2>
            <nav class="nav nav-pills flex-column flex-sm-row mb-4 border border-primary rounded-3">
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/">전체</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_view_cnt/">조회수</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_date">날짜</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_subscribers">구독자 수</a>
                <a class="flex-sm-fill text-sm-center nav-link active" href="/lectures/index_sort_by_vid_cnt">영상 수</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_alphabet">가나다순</a>
            </nav>
            <% break 
            case 6: %>
            <h2 class="mb-4"><b>문자</b> 순 강의 목록</h2>
            <nav class="nav nav-pills flex-column flex-sm-row mb-4 border border-primary rounded-3">
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/">전체</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_view_cnt/">조회수</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_date">날짜</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_subscribers">구독자 수</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/lectures/index_sort_by_vid_cnt">영상 수</a>
                <a class="flex-sm-fill text-sm-center nav-link active" href="/lectures/index_sort_by_alphabet">가나다순</a>
            </nav>
            <% break 
     } %>

    <% for (let i=0; i < lectures.length; i++){%>
        <% let num = lectures[i].num %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" style="height: 100%;" alt="thumbnail" src="<%=lectures[num].img_url%>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-title">
                            <a href="<%= lectures[num].url %>" target="_blank"
                                class="text-decoration-none link-dark fw-bold fs-5">
                                <%= lectures[num].title %>
                            </a>
                        </p>
                        <p class="card-text">
                            <a href="<%= lectures[num].channel_url %>" target="_blank" class="text-decoration-none link-dark">
                                <%= lectures[num].channel %>
                            </a>
                            <small class="text-muted"> (구독자 : <%= lectures[num].subscribers.toLocaleString('ko-KR') %>명 |
                                    영상 : <%= lectures[num].total_vid.toLocaleString('ko-KR') %>개)</small>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= lectures[num].description %>
                            </small>
                        </p>
                        <p class="card-text">
                            <small>게시일 : <%= lectures[num].upload_date %> / 조회수 : <%= lectures[num].view_cnt.toLocaleString('ko-KR') %></small>
                        </p>

                        <div class="d-grid gap-2 d-md-flex">
                            <a href="<%= lectures[num].url %>" target="_blank">
                                <button class="btn btn-outline-success btn-sm">강의 시청</button>
                            </a>
                            <a href="<%= lectures[num].channel_url %>" target="_blank">
                                <button class="btn btn-outline-warning btn-sm">채널 확인</button>
                            </a>

                            <div class="ms-auto">
                                <% if(currentUser) {
                                    var lect_id = lectures[num]._id 
                                    var like_index = currentUser.liked_lectures.indexOf(lect_id)
                                    var playlist_index = currentUser.playlist_lectures.indexOf(lect_id)
                                    var watched_index = currentUser.watched_lectures.indexOf(lect_id)

                                    if(like_index > -1){ %>
                                        <input type="checkbox" class="btn-check btn-sm" id="like-btn-<%=i%>" checked onclick='window.location.assign("/lectures/<%=like_index%>/unlike")'/>
                                        <label class="btn btn-outline-danger btn-sm" for="like-btn-<%=i%>">
                                            <i class="bi bi-heart"></i>
                                        </label>
                                    <% }
                                    else { %>
                                    <input type="checkbox" class="btn-check btn-sm" id="like-btn-<%=i%>" onclick='window.location.assign("/lectures/<%=lect_id%>/like")'/>
                                    <label class="btn btn-outline-danger btn-sm" for="like-btn-<%=i%>">
                                        <i class="bi bi-heart"></i>
                                    </label>
                                    <% }

                                    if(playlist_index > -1) { %>
                                        <input type="checkbox" class="btn-check btn-sm" id="playlist-btn-<%=i%>" checked onclick='window.location.assign("/lectures/<%=playlist_index%>/unplaylist")'/>
                                        <label class="btn btn-outline-primary btn-sm" for="playlist-btn-<%=i%>">
                                        <i class="bi bi-plus-circle"></i>
                                        </label>
                                    <% }
                                    else { %>
                                        <input type="checkbox" class="btn-check btn-sm" id="playlist-btn-<%=i%>" onclick='window.location.assign("/lectures/<%=lect_id%>/playlist")'/>
                                        <label class="btn btn-outline-primary btn-sm" for="playlist-btn-<%=i%>">
                                        <i class="bi bi-plus-circle"></i>
                                        </label>
                                    <% }

                                    if(watched_index > -1) { %>
                                        <input type="checkbox" class="btn-check btn-sm" id="watched-btn-<%=i%>" checked onclick='window.location.assign("/lectures/<%=watched_index%>/unwatched")'/>
                                        <label class="btn btn-outline-success btn-sm" for="watched-btn-<%=i%>">
                                        <i class="bi bi-check-circle"></i>
                                        </label>
                                    <% }
                                    else { %>
                                        <input type="checkbox" class="btn-check btn-sm" id="watched-btn-<%=i%>" onclick='window.location.assign("/lectures/<%=lect_id%>/watched")'/>
                                        <label class="btn btn-outline-success btn-sm" for="watched-btn-<%=i%>">
                                        <i class="bi bi-check-circle"></i>
                                        </label>
                                    <% }
                                } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% }%>
</div>
